@use "@angular/material" as mat;
@include mat.core();

@import "variables";
@import "mixins/text-editor";

$mat-typography: mat.define-typography-config(
  $font-family: "Poppins, sans-serif",
);

.light {
  color: $light-text-primary;
  background: $light-bg-primary;

  $light-background: generate-background-palette(
    $light-bg-secondary,
    $light-text-primary
  );

  $light-foreground: generate-foreground-palette($light-text-primary);

  @include set-text-editor-theme($light-bg-secondary, $light-text-primary);

  $light-theme: (
    color: (
      primary: mat.define-palette($primary-palette, 500),
      accent: mat.define-palette($secondary-palette, 300, 100, 500),
      warn: mat.define-palette($danger-palette),
      background: $light-background,
      foreground: $light-foreground,
    ),
    typography: $mat-typography,
    density: 0,
  );

  @include mat.all-component-themes($light-theme);
}

.dark {
  color: $dark-text-primary;
  background: $dark-bg-primary;

  $dark-background: generate-background-palette(
    $dark-bg-secondary,
    $dark-text-primary
  );

  $dark-foreground: generate-foreground-palette($dark-text-primary);

  @include set-text-editor-theme($dark-bg-secondary, $dark-text-primary);

  $dark-theme: (
    color: (
      primary: mat.define-palette($primary-palette, 500),
      accent: mat.define-palette($secondary-palette, 300, 100, 500),
      warn: mat.define-palette($danger-palette),
      background: $dark-background,
      foreground: $dark-foreground,
    ),
    typography: $mat-typography,
    density: 0,
  );

  @include mat.all-component-themes($dark-theme);
}
