@import "variables";

#member-header {
  @apply h-full flex gap-4 items-center;

  > figure {
    @apply mr-auto;
  }

  > article {
    @apply flex items-center gap-4 border-r pr-4;

    > a {
      @apply transition-all duration-500;

      &:hover {
        color: $primary;
      }
    }
  }

  > a {
    @apply text-lg transition-all duration-500;

    &:hover {
      color: $primary;
      transform: scale(1.2);
    }
  }
}
