<section class="app-container" id="landing-page-works">
  <section>
    <app-landing-page-section-title
      [title]="'Trabalhos e apoio'"
      description="Confira as iniciativas e parcerias que fortalecem nossa comunidade."
    />

    <p animate animationScroll animation="animate__fadeIn" [delay]="400">
      Como profissional de destaque no marketing digital,
      <b>desenvolvo estratégias eficazes</b> que ajudam empresas a crescerem e
      se destacarem
    </p>

    <p animate animationScroll animation="animate__fadeIn" [delay]="400">
      Além disso, alguns me conhecem como presidente da Vigília Apocalipse, um
      projeto que há 10 anos realiza um evento anual para arrecadação de
      alimentos em Itaquaquecetuba. Para expandir essa ajuda, fundei o Instituto
      Apocalipse, beneficiando inúmeras famílias carentes.
    </p>

    <p animate animationScroll animation="animate__fadeIn" [delay]="400">
      Com o apoio do nosso prefeito <b>Eduardo Boigues</b>, nossos projetos têm
      fortalecido a comunidade e levado Itaquaquecetuba a um lugar de prestígio.
      Acredito que o verdadeiro progresso vem da união e da ajuda mútua, e meu
      objetivo é continuar melhorando a vida das pessoas em minha comunidade
    </p>
  </section>

  <img
    animate
    animationScroll
    animation="animate__fadeIn"
    alt="Shamps e Prefeito Eduardo Boigues"
    src="/assets/images/shamps_pf_eduardo.jpeg"
  />
</section>
