@use "@angular/material" as mat;
@include mat.core();

@function generate-theme(
  $primary,
  $accent,
  $warn,
  $background,
  $foreground,
  $isDark
) {
  @return (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      background: $background,
      foreground: $foreground,
    ),
    typography: mat.define-typography-config(),
    density: mat.define-density-config(),
    is-dark: $isDark
  );
}
