$primary-palette: (
  50: #ffe5f6,
  100: #febee9,
  200: #fe93db,
  300: #fd68cc,
  400: #fc47c1,
  500: #fc27b6,
  600: #fc23af,
  700: #fb1da6,
  800: #fb179e,
  900: #fa0e8e,
  A100: #ffffff,
  A200: #fff1f8,
  A400: #ffbedf,
  A700: #ffa5d3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
