$primary-palette: (
  50: #eeeaff,
  100: #d4caff,
  200: #b7a6ff,
  300: #9a82ff,
  400: #8568ff,
  500: #6f4dff,
  600: #6746ff,
  700: #5c3dff,
  800: #5234ff,
  900: #4025ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d8d3ff,
  A700: #c1b9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
