$secondary-palette: (
  50: #f6f1ff,
  100: #e8dcff,
  200: #d8c5ff,
  300: #c8aeff,
  400: #bd9cff,
  500: #b18bff,
  600: #aa83ff,
  700: #a178ff,
  800: #986eff,
  900: #885bff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ece5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
