$secondary-palette: (
  50: #fbe9fb,
  100: #f4c8f5,
  200: #eda3ee,
  300: #e67ee7,
  400: #e062e2,
  500: #db46dd,
  600: #d73fd9,
  700: #d237d4,
  800: #cd2fcf,
  900: #c420c7,
  A100: #ffffff,
  A200: #feccff,
  A400: #fd99ff,
  A700: #fd80ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
