$tertiary-palette: (
  50: #e0fdff,
  100: #b3faff,
  200: #80f7ff,
  300: #4df3ff,
  400: #26f1ff,
  500: #00eeff,
  600: #00ecff,
  700: #00e9ff,
  800: #00e7ff,
  900: #00e2ff,
  A100: #ffffff,
  A200: #f2fdff,
  A400: #bff7ff,
  A700: #a6f3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
