<section
  class="app-container"
  id="landing-page-hero"
  animate
  animationScroll
  animation="animate__fadeIn"
>
  <section>
    <img src="/assets/images/republicanos-logo-white.png" alt="Republicanos" />

    <article>
      <nav>
        <h5>
          <img src="/assets/images/emoji-sorrindo.png" alt="Olá" />
          Olá, eu sou
        </h5>

        <h1>Roneey Shamps</h1>
        <h3>Pré canditado a vereador!</h3>
      </nav>

      <p>
        Bem vindo(a), aqui você encontrará minhas propostas, <br />
        mais sobre minha história, formas de contato, <br />
        publicações e mais, fique por dentro.
      </p>
    </article>

    <figure>
      <img src="/assets/images/shamps-hero.png" alt="Shamps" />
    </figure>
  </section>
</section>
